<h1>All Lists</h1>
<%= link_to 'New List', new_list_path %>
<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list) %>
    </li>
  <% end %>
</ul>

<ul>
  <li>
      <%= cl_image_tag("odf1f3byqwpbghlsznvi", width: 400, height: 300, crop: :fill) %>
  </li>
  <li>
    <%= cl_image_tag("tgbfhuyyrvckimy9xkjz", width: 150, height: 150, crop: :thumb, gravity: :face) %>
  </li>
</ul>
