<%= simple_form_for [list, bookmark], html: { local: true } do |f| %>
  <div>
    <%= f.input :movie_id, collection: Movie.all, label_method: :title, value_method: :id, label: 'Movie' %>
  </div>
  <div>
    <%= f.input :comment, as: :text %>
  </div>
  <div>
    <%= f.button :submit, 'Add Bookmark' %>
  </div>
<% end %>
